<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" href="/inicio">
        <ion-icon slot="icon-only" name="chevron-back-outline">Voltar</ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Postos de Saúde</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <div class="flex-center">
   <ion-button href="https://www.google.com/maps/search/google+maps+ubs/">Unidades de Saúde Básica <br>próximas</ion-button>
  </div>
</ion-content>