<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" href="/inicio">
        <ion-icon slot="icon-only" name="chevron-back-outline">Voltar</ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Medicamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>ADVIL</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>AEROLIN</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ALBEL</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ALBENDAZOL MD7</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ALIVIUM</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ARADOIS</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ATENOLOL MD7</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ATENOLOL SDZ</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>BABYMED</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>BEPANTRIZ</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>BIO-C</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>BUSCOPAN</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>BUSCOPAN CPTO</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>BUSONID</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CEFALEXINA TTB</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CETOPROFENO MD7</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CICLO 21</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CIFLOGEX</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CIMEGRIPE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CIMELIDE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>COLIRIO</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CORUS</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>DECONGEX PLUS</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>DIAD</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>DIPIMED</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>DIPIRONA EMS</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>DIPIRONA GM2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>DIPIRONA N.Q</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>DORALGINA</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>DORFLEX</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>DORIL</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>DRAMIN B6</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ENALAPRIL CM5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ENALAPRIL N.Q</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ENALAPRIL TTB</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ENGOV</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>EXPEC</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>FLUCONAZOL CM5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GARDENAL</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GLIBENCLAMIDA N.Q</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GLIFAGE XR</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>HIDROCLOROTIAZIDA</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>HIDROCLOROTIAZIDA EMS</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>HIDROCLOROTIAZIDA MDQ</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>HIDROCLOROTIAZIDA N.Q</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>HIDROCLOROTIAZIDA TTB</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>HISTAMIN</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IBUPRIL</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>INFRALAX</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IVERMECTINA VMC</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>LACRIFILM</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>LEVOTIROXINA MCK</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>LISADOR</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>LORATAMED</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>LOSARTANA EMS</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>LOSARTANA GM2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>LOSARTANA MD7</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>LOSARTANA N.Q</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>LOSARTANA P.D</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>LOSARTANA POT EUF</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>LOSARTANA TTB</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>LUFTAL</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>MAXALGINA</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>METFORMINA P.D</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>MICROVLAR</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>NAPROXENO N.Q</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>NARIDRIN</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>NARIX</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>NEODIA</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>NEOLEFRIN</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>NEOSALDINA</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>NEOSORO</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>NEVRALGEX</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>NIMESULIDA CM5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>NISTA+ZINCO N.Q</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>NOVALGINA</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>OMEPRAZOL TTB</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>PANTOPRAZOL ACH</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>PREDSIM</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>PURAN T4</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>REPOFLOR</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>RINOSORO</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>RIVOTRIL</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SAL DE FRUTA ENO</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SALONPAS EMPLASTRO</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SCAFLOGIN</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SELOZOK</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SILDENAFILA EUF</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SILDENAFILA N.Q</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SIMETICONA MD7</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SINVASTATINA CM5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SINVASTATINA SDZ</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SODIO CLORET. ARB</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SOMALGIN CARDIO</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SONRISAL </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SORIMAX</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SORO FISIOLOGICO ADV</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>STREPSILS</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>TADALAFILA EUF</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>TORAGESIC </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>TORSILAX</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>TYLEMAX</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>TYLENOL</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>VICK-VAPORUB</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>VITER C</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>VONAU FLASH</ion-label>
    </ion-item>
  </ion-list>
</ion-content>