<ion-header >
  <ion-toolbar>
    <ion-title>
      <center>Início</center>
    </ion-title>
  </ion-toolbar>
</ion-header>


  <div class="flex-center" id="container">
  <ion-card>  
    
    <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button href="/menu-carteirinha" size="large" expand="block">
            <ion-icon name="today"></ion-icon>
            Carteirinhas
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button href="/postos" size="large" expand="block">
            <ion-icon name="location"></ion-icon>
            Postos
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button href="/vacina" size="large" expand="block">
            <ion-icon name="fitness"></ion-icon>
            Vacinas
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button href="/medicamento" size="large" expand="block">
            <ion-icon name="bag-add"></ion-icon>
            Medicamentos
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
    
        <ion-col>
          <ion-button href="/home" size="large" expand="block">
            <ion-icon name="exit-outline"></ion-icon>
            Sair
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card-content>   
  </ion-card>
 
  </div>
