<ion-app>
  <div class="flex-center" id="container">
    <ion-card>
      <ion-text color="light">
        <div  text-align: right>
          <h1><ion-card-title>COVID <br> CARE</ion-card-title></h1>
        </div>
      </ion-text>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button size="full" href="/login">ENTRAR</ion-button>
            </ion-col>
            <ion-col>
              <ion-button size="full" href="/cadastro">CADASTRO</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  

</ion-app>
